/* Base CSS */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

input[type="Submit"],
button[type="submit"] {
    outline: none;
}

input[type="text"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="textarea"] {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'poppins', sans-serif;
    color: #000000;
}

body {
    font-family: 'poppins', sans-serif;
    color: #000000;
}

.container {
    margin-bottom: 100px;
}

.slide-bg {
    background-color: #feeae9;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.slide-details h1 {
    font-family: poppins;
    font-size: 40px;
    color: #1f1f1f;
}

.slide-details p {
    font-size: 18px;
    color: #707070;
    font-family: poppins;
}

.slide-details h2 {
    color: #ff136f;
    font-size: 40px;
    font-family: poppins;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}

.category h1 {
    color: #fff;
}

.category img {
    width: 110px;
}

.cat-1,
.cat-2,
.cat-3 {
    padding: 10px 30px;
    border-radius: 10px;
}

.cat-1 {
    background: linear-gradient(90deg, rgba(204, 204, 119, 1) 0%, rgba(226, 224, 50, 1) 44%, rgba(255, 244, 0, 1) 100%);
}

.cat-2 {
    background: linear-gradient(90deg, rgba(204, 119, 156, 1) 0%, rgba(241, 104, 213, 1) 45%, rgba(255, 0, 164, 1) 100%);
}

.cat-3 {
    background: linear-gradient(90deg, rgba(84, 90, 204, 1) 0%, rgba(56, 64, 204, 1) 45%, rgba(55, 0, 255, 1) 100%);
}

.card-head {
    padding: 20px 10px;
}

.card-head a {
    text-decoration: none;
    color: #ff9d00;
}

.card-body {
    padding: 25px 25px;
}

.card-title {
    color: #1f1f1f;
    font-size: 24px;
    font-weight: 500;
}

p.card-text {
    color: #707070;
    font-size: 13px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.card-head {
    padding: 20px 10px;
}

.card-head a {
    text-decoration: none;
    color: #ff9d00;
}

.card-body h5 {
    font-size: 24px;
    color: #1f1f1f;
    padding: 6px 0;
}

.card-footer {
    padding: 0;
    background-color: #fff;
    border: none;
}

#contact {
    background-color: #feeae9;
    height: 400px;
    border-radius: 10px;
}

.contact h3 {
    color: #1f1f1f;
    font-size: 30px;
}

.contact h6 {
    font-size: 18px;
    color: #707070;
    padding: 8px 0;
}

.contact input::placeholder {
    font-size: 15px;
    opacity: .5;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #cbd0d8;
    outline: none;
    box-shadow: none;
}

#contact button {
    margin-top: 15px;
}

footer {
    text-align: center;
}